<main class="pa0 black-80">
<div class="tl measure center">
<% if transaction.errors.any? || transaction.coin.errors.any? %>
    <%= render partial: 'errors',  locals: {transaction: transaction} %>
<% end %>

<%= form_for transaction, :url => {:action => action} do |f| %>    
   <div class="mt3">
    <%= f.label :coin_id, "Select Coin Type", class: "lh3 fw6 f6 dib" %>
    <span class="dib">
    <%= f.collection_select :coin_id, transaction.wallet_coins(current_user), :id, :name, include_blank: true%>
    </span>
    </div>
    <fieldset class="mb3 pl4 b--moon-silver">
        <legend class="f6"><em>*OR*</em> If using another cryptocurrency, specify the following: </legend> 
        <%= f.fields_for :coin, transaction.coin do |coin_fields| %>

            <%= coin_fields.label :name, class: "lh3 fw6 f6" %>
            <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white" type="text" name="transaction[coin_attributes][name]" id="transaction_coin_attributes_name" value=<%= fill_nested_coin_name_for(transaction)%> ><br>

            <%= coin_fields.label :last_value, "Current trading price: $", class: "lh3 fw6 f6" %>
            <% if coin_errors_for?(@transaction)  %>
                <div class="field_with_errors">
            <% end %>
            <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white" min="0" step="0.01" type="number" name="transaction[coin_attributes][last_value]" id="transaction_coin_attributes_last_value"  value=<%= fill_nested_coin_value_for(transaction) %>>
            
            <% if coin_errors_for?(@transaction) %>
                </div>
            <% end %>
        <% end %>
    </fieldset>

    <%= f.label :money_in, "Money transferred into coins: $", class: "lh3 fw6 f6" %>
    <%= f.number_field :money_in, :min => 0, :step => 0.01, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white" %><br>

    <%= f.label :price_per_coin, "Paid Price per coin: $", class: "lh3 fw6 f6" %>
    <%= f.number_field :price_per_coin, :min => 0, :step => 0.01, class: "pa2 input-reset ba bg-transparent hover-bg-black hover-white" %><br>
 
    <%= f.submit class: "mt5 b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"  %>
<% end %> 
</div>
</main>